@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <img src="~/colorfuleggs.png" alt="colorful eggs" style="height:4px; width:100%; opacity: 0.8; background-repeat:repeat-y;
            margin-top: 10px; margin-bottom: 10px" />
    <h2 class="display-4">Creative Easter egg hunt ideas for all ages</h2>
    <img src="~/colorfuleggs.png" alt ="colorful eggs" style="height:4px; width:100%; opacity: 0.8; background-repeat:repeat-y;
            margin-top: 10px; margin-bottom: 20px" />
    <div style="" >
        <p>Sometimes, old-fashioned is better – and what’s more charmingly traditional than an Easter egg hunt? Perfect for keeping the kids busy over Easter (especially if you’ve got an Easter Sunday roast in the oven), keep your bouncing little bunnies entertained with our Easter egg hunt ideas, complete with some top Easter egg hunt clues for adults and kids alike.</p>
    </div>
    <h3> How to organise an Easter egg hunt </h3>
    <div style="text-align:left">
        <p> Throwing an Easter egg hunt can be a lot of fun, and it’s not that much work to give kids a wonderful memory to look back on. Here are the simple steps to follow to organise an Easter egg hunt at home.</p>
        <h5> 1. Decide what to hide</h5>
        <p> First things first, you’ll need something to hide for the hunt! It’s up to you whether you want to hide lots of small eggs around your house and garden, or just clues written on slips of paper leading to an eggstravagant final prize. (We’re sorry.) Small, foil-wrapped chocolate eggs work well for an Easter egg hunt if you’re hiding both an egg and a clue in each spot. </p>
        <h5> 2. Write out your clues </h5>
        <p>If you’re hiding clues in each hiding spot of the trail instead of eggs, it might be worth writing them on coloured paper, especially if you’re organising an Easter egg hunt for smaller children. Fluorescent post-it notes work perfectly for this! </p>
        <h5>3. Hide your treasure </h5>
        <p>Start tucking the eggs and/or clues into their hiding spots, based on the Easter egg hunt clues! If your little one is likely to get excited and want to start first thing in the morning, get hiding once they’ve gone to bed.</p>
        <h5>4. Get hunting! </h5>
        <p> Don some bunny ears, give the kids a basket, and set them off on the hunt! If they’re really struggling, give them a hint by telling them if they’re getting warmer or colder depending how close they are.</p>
    </div>
</div>
